.photos {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 36px;
    justify-content: center;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 25px;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    outline: 1px solid #d6d6d6;
}

@media (max-width: 425px) {
    .thumbnail {
        margin: 10px 0;
    }
}